body {
    background-color: rgb(4, 91, 115);
}

h2 {
color: rgb(32, 3, 129);  

}

#label-nome, #label-sal, #novosal{

color: rgb(2, 239, 22);
}

#botao {
    border-radius: 10%;
    border: none;
    color: white;
    background-color: green;
}